<p>Contenu spécifique adulte</p>

<h2>Quelques colonnes à afficher</h2>
<ol>
  <li *ngFor="let elem of columnsToDisplay"><!-- columnsToDisplay est Tableau de éléments simple -->
      {{elem}}
  </li>
</ol>

<h2>Liste ordonnée</h2>
<ol>
  <li *ngFor="let pers1 of personnes"> <!-- personnes est tabeau des json -->
    {{pers1.prenom}} {{pers1.nom}} -- {{pers1.age}}
  </li>
</ol>
<div class="tabcontaner">
<input (input)="dataSource.filter=$event.target.value"> <!-- pour chercher dans la table-->
<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="prenom">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
    <td mat-cell *matCellDef="let pers"> {{ pers.prenom }} </td>
  </ng-container>

  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
    <td mat-cell *matCellDef="let pers"> {{ pers.nom }} </td>
  </ng-container>
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
    <td mat-cell *matCellDef="let pers"> {{ pers.age }} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
<mat-paginator [pageSizeOptions]="[2, 5, 7]" aria-label="Nombre page" showFirstLastButtons></mat-paginator>
</div>
<hr>
<h1>Table sans Pagination</h1>
<div id="tab2">
  <input (input)="dataSource2.filter=$event.target.value">
  <table mat-table [dataSource]="dataSource2">
    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef>Prénom</th>
      <td mat-cell *matCellDef="let ligne">{{ligne.prenom}}</td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef>Age</th>
      <td mat-cell *matCellDef="let ligne">{{ligne.age}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay2"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay2"></tr>
  </table>

</div>

<hr>
<h2>Nombre majeurs est {{nbmajeurs()}}</h2>


<h2>Liste notes</h2>
<div class="buttons">
<button (click)="getNotes()">Afficher les notes</button>
<button (click)="resetNotes()">Effacer les notes </button>
</div>
<br>Le bouton appelle une méthode qui appele un service qui fait un appel http.<br>
<ol>
  <li *ngFor="let note of notes">
    {{note.codepermanent}}: {{note.note}}
  </li>
</ol>
<hr>
<div class="tabcontaner">
<ng-container *ngIf="notes.length>0">
<h2>Table avec source directe</h2>


<table mat-table  [dataSource]="notes">
  <ng-container matColumnDef="codepermanent">
    <th mat-header-cell *matHeaderCellDef>Code Permanent</th>
    <td mat-cell *matCellDef="let ligne">{{ligne.codepermanent}}</td>
  </ng-container>

  <ng-container matColumnDef="note">
    <th mat-header-cell *matHeaderCellDef>Note</th>
    <td mat-cell *matCellDef="let ligne">{{ligne.note}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['note','codepermanent']"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: ['note','codepermanent']"></tr>
</table>
</ng-container>
</div>

