
.tabcontaner{
  width: 80%;
  margin: auto;
}
table {
    width: 100%;

  }


  #tab2{
    width: 50%;
    margin: auto;
  }

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
