<h1>Demo {{title}}</h1>

<nav>
  <ul>
    <li><a routerLink="/adultes"> Les adultes</a></li>
    <li><a routerLink="/aines"> Les aînés</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>

<h2>Liste ordonnée</h2>
<ol>
  <li *ngFor="let pers of getListe()">
    {{pers.prenom}} {{pers.nom}} {{pers.age}}
  </li>
</ol>
Pied de page dans component
